<h1>Listing people</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.first_name + " " + person.last_name  %></td>
    <td>
      <ul class="actions">
        <li><%= link_to 'Show', person %></li>
        <li><%= link_to 'Edit', edit_person_path(person) %></li>
        <li><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path, id: 'new_person' %>