<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @person.last_name %>
</p>

  <%= render 'email_addresses/email_addresses', :email_addresses => @person.email_addresses %>

  <%= render 'phone_numbers/phone_numbers', :phone_numbers => @person.phone_numbers %>

<%= link_to 'Add phone number', new_phone_number_path(contact_id: @person.id, contact_type: 'Person') %> |
<%= link_to 'Add email address', new_email_address_path(contact_id: @person.id, contact_type: 'Person') %> |
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
