<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @person.last_name %>
</p>
<ul>
  <% @person.phone_numbers.each do |phone| %>
    <li><%= phone.number %></li>
    <li><%= phone.number %> <%= link_to('edit', edit_phone_number_path(phone)) %></li>
  <% end %>
</ul>

<%= link_to 'Add phone number', new_phone_number_path(person_id: @person.id) %> |
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
