<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>
<ul>
  <% @company.phone_numbers.each do |phone| %>
    <li><%= phone.number %>
        <%= link_to('edit', edit_phone_number_path(phone)) %>
        <%= link_to 'delete', phone_number_path(phone),
            :confirm => 'Are you sure?', :method => :delete %></li>
  <% end %>
</ul>


<%= link_to 'Add phone number', new_phone_number_path(contact_id: @company.id, contact_type: 'Person') %> |
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
