<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @email_address.address %>
</p>

<p>
  <b>Person:</b>
  <%= @email_address.person_id %>
</p>


<%= link_to 'Edit', edit_email_address_path(@email_address) %> |
<%= link_to 'Back', email_addresses_path %>
